<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="csLog" type="Gov.Hhs.Cdc.Logging.LoggerConfigManager, Gov.Hhs.Cdc.Logging" requirePermission="false"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
	</configSections>
	<csLog>
		<default name="standard" type="Log4NetLoggingWrapper.LoggerWrapper, Log4NetLoggingWrapper" override="false">
			<file name="flatFile" value="c:\Log\logTest1.txt"/>
		</default>
		<customOverride type="Gov.Hhs.Cdc.Api.Service.MyErrorLogger, Gov.Hhs.Cdc.Api.Service">
			<file name="flatFile" value="c:\Log\logTest2.txt"/>
		</customOverride>
	</csLog>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\Log\mylogfile.txt"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
				<levelMax value="FATAL"/>
			</filter>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
	<connectionStrings>
		<add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="DataSourceConfigCacheTimeout" value="00:10:00"/>
		<add key="DataSourceConfigLocalPath" value="Cache"/>
		<add key="DataSourcePersistCachedItemsToFileSystem" value="Yes"/>
		<add key="DataSourceCacheItemsAsGroup" value="Yes"/>
		<add key="SyndicationFilterUrl" value="http://www......[domain]...../socialmedia/syndication/ContentSyndicationFilters.xml"/>
		<add key="XMLCatalogPath" value="~\xml\xhtmlcatalog.xml"/>
	</appSettings>
	<startup>
	</startup>
</configuration>
