<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmailDbEntities" connectionString="metadata=res://*/EmailDb.csdl|res://*/EmailDb.ssdl|res://*/EmailDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.....[ApiDbServer].....;Initial Catalog=ContentServices_SourceForge;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
