<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MediaDbEntities" connectionString="metadata=res://*/Model.CSIntegration.csdl|res://*/Model.CSIntegration.ssdl|res://*/Model.CSIntegration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
