<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
  </connectionStrings>
</configuration>
