<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RegistrationDbEntities" connectionString="metadata=res://*/Model.RegistrationDb.csdl|res://*/Model.RegistrationDb.ssdl|res://*/Model.RegistrationDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
