<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="eMail" type="Gov.Hhs.Cdc.EmailProvider.EmailConfigManager, Gov.Hhs.Cdc.EmailProvider" requirePermission="false" />
	</configSections>
	<eMail>
		<provider name="default" smtpServer=".....[SMTP Server]....." smtpPort="25" timeout="00:00:40"/>
		<profiles>
		</profiles>
	</eMail>
	<connectionStrings>
		<add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
	</connectionStrings>
</configuration>
