<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="logs\MediaValidation.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Week" rollSizeKB="5000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="MediaValidationTraceListener"/>
    </listeners>
    <formatters>
      <add template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)}: {message}
  Category: {category}  EventId: {eventid}  Severity: {severity}  Thread({win32ThreadId}): {threadName}  {dictionary({key}: {value}  )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Audit">
        <listeners>
          <add name="MediaValidationTraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="MediaValidationTraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="MediaValidationTraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="MediaValidationTraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="MediaValidationTraceListener"/>
        </listeners>
      </errors>	
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
	  <add name="MediaDbEntities" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_DataAPI;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
	  <add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_DataAPI;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
	  <add name="MediaValidationDbEntities" connectionString="metadata=res://*/MediaValidationEdm.csdl|res://*/MediaValidationEdm.ssdl|res://*/MediaValidationEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.....[ApiDbServer].....;Initial Catalog=ContentServices_DataAPI;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	  <add name="ContentServicesEntities" connectionString="metadata=res://*/Dal.Cs.DataSourceDb.csdl|res://*/Dal.Cs.DataSourceDb.ssdl|res://*/Dal.Cs.DataSourceDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.....[ApiDbServer].....;initial catalog=ContentServices_DataAPI;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SyndicationFilterUrl" value="http://www......[domain]...../socialmedia/syndication/ContentSyndicationFilters.xml"/>
    <add key="XMLCatalogPath" value="~\xml\xhtmlcatalog.xml"/>
    <add key="NumberOfThreads" value="1"/>
    <!--<add key="XMLCatalogPath" value="http://.....[productionToolsServer]...../syndication/xml/xhtmlcatalog.xml"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
