<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="eMail" type="Gov.Hhs.Cdc.EmailProvider.EmailConfigManager, Gov.Hhs.Cdc.EmailProvider" requirePermission="false" />
  </configSections>
  <eMail>
    <provider name="default" smtpServer=".....[SMTP Server]....." smtpPort="25" timeout="00:00:40"/>
    <profiles>
    </profiles>
  </eMail>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <bufferSize value="1"/>
      <file value="Logs\Reporting.log"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.SimpleLayout"/>

    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;integrated security=false;persist security info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD]....." />
      <commandText value="INSERT INTO Auxiliary.Log ([Thread],[Level],[Logger],[Message],[Exception],Query) VALUES (@thread, @log_level, @logger, @message, @exception, @query)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ServerName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@query" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Query}" />
        </layout>
      </parameter>
    </appender>


    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AdoNetAppender"/>
      <!--<appender-ref ref="LogFileAppender"/>-->
    </root>
  </log4net>
  
  <connectionStrings>
    <add name="ContentServicesDb_local" connectionString="Data Source=localhost;Initial Catalog=ContentServices_SourceForge;Integrated Security=True;MultipleActiveResultSets=True" />
	<add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DataSourceConfigCacheTimeout" value="00:10:00" />
    <add key="DataSourceConfigLocalPath" value="Cache" />
    <add key="DataSourcePersistCachedItemsToFileSystem" value="Yes" />
    <add key="DataSourceCacheItemsAsGroup" value="Yes" />
    <add key="SyndicationFilterUrl" value="http://www......[domain]...../socialmedia/syndication/ContentSyndicationFilters.xml" />
    <add key="XMLCatalogPath" value="~\xml\xhtmlcatalog.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <add key="ConnectionStringNameFor_MEDIA" value="ContentServicesDb"/>
    <add key="PasswordResetParam" value="prt" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
