<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    <section name="eMail" type="Gov.Hhs.Cdc.EmailProvider.EmailConfigManager, Gov.Hhs.Cdc.EmailProvider" requirePermission="false" />
  </configSections>
  <eMail>
    <provider name="default" smtpServer=".....[SMTP Server]....." smtpPort="25" timeout="00:00:40"/>
    <profiles>
    </profiles>
  </eMail>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <sessionState mode="Off"></sessionState>
  </system.web>
  <appSettings>
    <add key="DataSourceConfigCacheTimeout" value="00:10:00"/>
    <add key="DataSourceConfigLocalPath" value="Cache"/>
    <add key="DataSourcePersistCachedItemsToFileSystem" value="No"/>
    <add key="DataSourceCacheItemsAsGroup" value="No"/>
    <add key="XMLCatalogPath" value="~\xml\xhtmlcatalog.xml"/>

    <add key="PublicApiVersion" value="2"/>
    <add key="jquery" value="/embed/html/js/jquery-1.9.1.min.js" />
    <add key="plugin" value="/embed/html/js/embed-1.0.0.js" />
    <add key="pluginV2" value="/embed/html/js/embed-2.0.3.js" />
    <add key="iFrameWidgetSrc" value="//.....[devServer]...../TemplatePackage/contrib/widgets/tp-widget-external-loader.js" />

    <add key="LogTransactions" value="no"/>
    
    <add key="HttpServer" value="localhost:44301" />
    <add key="HttpsServer" value="localhost:44301" />
    <add key="PublicApiServer" value="localhost:44301/api" />
    <add key="PublicApiForExport" value="/v2/resources/media/" />

    <add key="AdminFeedExportUsername" value="CDC\ContentServiceFeedEx" />
    <add key="AdminFeedExportPassword" value=".....[Export]....." />
    
    <add key="PersistentUrlHttp" value="https://localhost:44301/api/v{0}/resources/purls/{1}" />    
    <add key="PersistentUrlHttps" value="https://localhost:44301/api/v{0}/resources/purls/{1}" />
    
    <add key="DefaultApiKey" value="apikey" />
    <add key="DefaultApiKeyCacheInSeconds" value="86400" />
    <add key="CommonDbConnectionStringName" value="ContentServicesDb" />
    
    <add key="ApiClientPassword" value="....[ApiClientPassword]...." />
    <add key="temp_client_credentials" value="" />

    <add key="OAUTH_FACEBOOK_TOKEN_REQUEST_URL" value="https://.....[domain]...../oauth/access_token"/>
    <add key="OAUTH_FACEBOOK_APP_ID" value=""/>
    <add key="OAUTH_FACEBOOK_APP_SECRET" value=""/>
    <add key="EXTERNAL_API_TIMEOUT" value="15000"/>

    <add key="OAUTH_TWITTER_TOKEN_REQUEST_URL" value="https://.....[domain]...../oauth2/token"/>
    <add key="OAUTH_TWITTER_CONSUMER_KEY" value=""/>
    <add key="OAUTH_TWITTER_CONSUMER_SECRET" value=""/>

    <add key="OAUTH_FLICKR_API_KEY" value=""/>

    <add key="METRICS_PAGE" value="http://.....[productionToolsSecondaryServer]...../metrics.aspx" />
    
    <add key="Secure" value="true" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
        </binding>
        <binding name ="ssl">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Gov.Hhs.Cdc.Api.Admin">
        <endpoint address="https://localhost:44301/adminapi" behaviorConfiguration="json"
                  binding="webHttpBinding" contract="Gov.Hhs.Cdc.Api.IApi" />
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<serverRuntime uploadReadAheadSize="2147483647" />-->
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="65535" />
      </requestFiltering>
    </security>-->
  </system.webServer>
  <connectionStrings>
    <!--DEV-->
    <!--
    <add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_Integration;Persist Security Info=True;User ID=ContentServicesApplication;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True; />
    -->

    <!--API-->
    <add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>
    <!--<add name="ContentServicesDb" connectionString="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;Persist Security Info=True;User ID=ContentServicesApplication_QA;Password=.....[SQL ACCOUNT PASSWORD].....;multipleactiveresultsets=True;"/>-->
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <bufferSize value="1"/>
      <file value="Logs\Reporting.log"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.SimpleLayout"/>

    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;integrated security=false;persist security info=True;User ID=ContentServicesApplication_API;Password=.....[SQL ACCOUNT PASSWORD]....." />
      <commandText value="INSERT INTO Auxiliary.Log ([Thread],[Level],[Logger],[Message],[Exception],Query) VALUES (@thread, @log_level, @logger, @message, @exception, @query)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ServerName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@query" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Query}" />
        </layout>
      </parameter>
    </appender>


    <root>
      <level value="INFO"/>
      <appender-ref ref="AdoNetAppender"/>
      <!--<appender-ref ref="LogFileAppender"/>-->
    </root>
  </log4net>

</configuration>
