<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleDbEntities" connectionString="metadata=res://*/ScheduleDb.csdl|res://*/ScheduleDb.ssdl|res://*/ScheduleDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.....[ApiDbServer].....;initial catalog=ContentServices_SourceForge;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
